<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">

        <a class="navbar-brand col-6 " href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="col-8 my-lg-2">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Link</a>
                    </li>
                    <div class="dropdown">
                        <button class="dropdown-toggle" (click)="toggleDropdown()">Category</button>
                        <div class="dropdown-menu"  [ngClass]="{ 'show': isDropdownOpen }">
                         
                          
                          <li *ngFor="let category of categoryList"> <a class="dropdown-item"(click)="navigateToProducts(category.categoryId)" >{{category.categoryName}}</a></li>
                         
                        </div>
                      </div>
                      
    
    
                </ul>
            </div>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <!-- <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button> -->
            </form>
        </div>
    </nav>
</header>
<router-outlet></router-outlet>