<div class="product-container px-0 mx-0"> 
<!--   
  <form action="">
    <input class="form-control" (change)="getProductByName($event)" #searchInput type="search"  placeholder="Search" aria-label="Search">
    <button type='submit'  class="pl-1 bg-light"><a href="#"><i class="fas fa-search"></i></a></button>
  </form>   -->
    <div class="row">
    <div [ngClass]="isSidePanelVisible?'col-9 px-0':'col-12 mad'">
        <div class="card " >
            <div class=".card-header bg-primary ">
                <div class="row p-2 align-text-center ">
                    <div class="col-6 text-light">Product List</div>
                    <div class="col-6 text-end "><button  (click)="openDialog()"
                            class="btn btn-sm btn-success ">Add New Products</button></div>
                </div>
            </div>
            <div class="card-body pl-3 ">
                <div class="row">
                    <div class="col-12 my-2 ml-1 top"  *ngFor="let product of filteredProductList">
                          <div class="card col-12  top2">
                              <div class="col-12 middle">
                                  <img class="card-img-top" [src]="product.productImageUrl"
                                    alt="Card image">
                                </div>

                              <div class="card-body p-xs-1 p-lg-3">
                                <h4 class="card-title">{{product.productName}} </h4>
                                <p class="card-text">{{product.categoryName}} </p>
                               <div class="col-12"> <a class="btn btn-primary mx-3 mx-sm-1" (click)="updateDialog(product)">Edit</a>
                                <a class="btn btn-danger" (click)="onDelete(product)">Delete</a></div>
                            </div>
                        </div>
                    </div>
                    

                </div>
                <div class="row">
                    <!-- <div class="col-12 my-2 ml-1 top"  *ngFor="let product of filteredProductList">
                          <div class="card col-12  top2">
                              <div class="col-12 middle">
                                  <img class="card-img-top" [src]="product.productImageUrl"
                                    alt="Card image">
                                </div>

                              <div class="card-body p-xs-1 p-lg-3">
                                <h4 class="card-title">{{product.productName}} </h4>
                                <p class="card-text">{{product.categoryName}} </p>
                               <div class="col-12"> <a class="btn btn-primary mx-3 mx-sm-1" (click)="updateDialog(product)">Edit</a>
                                <a class="btn btn-danger" (click)="onDelete(product)">Delete</a></div>
                            </div>
                        </div>
                    </div> -->
                

                </div>
            </div>
        </div>

     </div>
     <div class="col-3 " *ngIf="isSidePanelVisible">
        <div class="card">
            <div class=".card-header bg-primary">
                <div class="row p-2 ">
                    <div class="col-6 text-light">Create Product List</div>
                    <div class="col-6 text-end"><button (click)="isCloseSidePanel()"
                            class="btn btn-sm btn-success ">Close</button></div>
                </div>
            </div>
      
        </div>
    </div>
</div>
